@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Mukta:wght@300;400&display=swap');

.font-mukta {
  font-family: 'Mukta', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.text-right {
  text-align: right;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.english-date {
  font-size: 16px;
}

.nepali-date {
  font-size: 40px;
}

.nepali-time {
  font-size: 50px;
  display: flex;
}

.nepali-hour,
.nepali-minute {
  margin-right: 15px;
}

.nepali-hour::after,
.nepali-minute::after {
  content: ':';
  position: absolute;
  top: 0;
  right: -20px;
}

.nepali-time .nepali-time-sub {
  position: relative;
  display: inline-block;
  width: 85px;
  letter-spacing: 10px;
}

.nepali-am-pm {
  margin-left: 5px;
}

.org-name {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 10px;
  color: #666;
  font-weight: 300;
}

.org-name a {
  color: #666;
  font-weight: 300;
  text-decoration: underline;
}

.org-name a:hover {
  color: #666;
}
